img {
    cursor: pointer;
}

.panel-block {
    float: left;
    width: 100%;
}

.panel-img {
    float: left;
    /* width: calc(100%/5 - 20px); */
    height: 200px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    background-color: #c5c5c5;
    justify-content: center;
}


.panel-img img {
    height: 100%
}


.panel-floating-empty {
    display: none;
    width: 80%;
    height: 90%;
    left: 5%;
    top: 5%;
    position: fixed;
    background-color: white;
}

.panel-floating {
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: rgba(46, 46, 46, 0.616);
    overflow: auto;
}

.panel-floating-img {
    /*float: left;
    
    width: calc(100% - 200px);
    height: calc(100% - 0px);
    
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    align: center;
    overflow: auto;*/
}

.panel-floating-img img {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}