<div class="form-group form-group-<?=$field['@key']?>">
    <label class="col-sm-2 control-label text-right"><?=$field['@label']?></label>
    <div class="col-sm-10">         
        
        <input type="text" name="<?=$field['@key']?>" id="<?=$field['@key']?>" value="<?=$content?>"  class="video-upload-url form-control" readonly="" style="width: 80%; display: inline" />        
        
       
        
        
        <?php if($content != '' ) {?>
        <a id="view-video" href="/gallery/viewVideo?video=<?=$content?>" class="open-media" data-toggle="modal" role="button"  data-target="#remote_modal_video" style="margin-left:5px;margin-top:5px"><i class="icon-eye3"></i> </a>
        <?php } else {?>
        <a id="view-video" href="#"  class="open-media" data-toggle="modal" role="button"  data-target="#remote_modal_video"  style="display: none;margin-left:5px;margin-top:5px"> <i class="icon-eye3"></i> </a>
        <?php }?>
        
        
        <div id="video-filelist"></div>
        

        <div id="video-upload-controls">
            <a id="button-browser-video" class="btn btn-default btn-xs pull-left" style="margin-top:3px;">Seleccionar Video...</a> 
            <a id="start-video-upload" class="btn btn-success btn-xs pull-left" style="margin-left:3px;margin-top:3px; display:none">Iniciar Subida</a>     
        </div>

        
    </div>
</div>