/* C */

.v-top {
    vertical-align: top;
}


/* HOME */


.direct-access {
    margin-bottom: 20px;
}
    
    
    .direct-access .direct-access-box  i, .direct-access .module-box i  {
        font-size: 40px;
    }

        
    .direct-access .module-box  {
        border-right: 1px solid #CCC;
    }
 
    .direct-access a:hover {
        color: #2880CC;
    }
    
/* LIST CONTENT */

#action-bar {
    margin: 10px 0px;
}

#filter-bar {
    background: #F2F2F2;
}

.product-thumb { 
    width: 110px;
}

.error-input {
    border: 1px solid red;
}

.with-horizontal-scroll {
    overflow-x: auto;
}

#content-list thead th {
    vertical-align: bottom;
}

#content-list tbody td {
    vertical-align: top;
}

#content-list td.editable input {
    padding: 5px 6px;
    margin: -5px -7px;
    height: 27px;
    width: 100%
}

#content-list td.editable textarea {
    padding: 5px 6px;
    margin: -5px -7px;    
    width: 100%
}

#content-list td.editable.is-image {
    text-align: center;
}

// MEDIA MANAGER

#media-manager .col-lg-3.col-md-6.col-sm-6 {
    margin-bottom: 28px;
}

#media-manager .thumbnail-boxed .caption {
    padding: 10px 12px 10px 12px;
}

#media-manager .thumbnail-boxed {
    margin-bottom: 26px;
    overflow: hidden;
}

#media-manager .thumb {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 188px;
    background-size: cover;
    background-position: center center;
    
}

#media-manager .caption-title {
    margin-bottom: 0px;
    font-size: 11px;
}

#media-manager .caption-title .form-control {    
    font-size: 11px;
    height: 30px;
}

#media-manager .caption.no-padding {
    padding: 3px !important;
}

#media-manager .thumb .checked {
    position: absolute;
    right: 10px;
    height: auto;
    width: auto;
    top: 10px;
    visibility: hidden;
}

#media-manager .thumb.selected .checked {
    visibility: visible;
}


