        #filterMenu {
            position: absolute;
            top: 120px;
            right: 0px;            
            z-index: 1000;
            width: 0px;
			font-family: arial;
            background: rgba(23, 24, 26, 0.46);            
            height: 230px;
            -webkit-transition: width 0.5s ease-in-out;
            -moz-transition: width 0.5s ease-in-out;
            -o-transition: width 0.5s ease-in-out;
            transition: width 0.5s ease-in-out;
        }
        
        #toggleFilter {
            background: rgba(23, 24, 26, 0.46);
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin-left: -40px;
        }
		
		#toggleFilter img{ height: 25px; margin: 8px; }
		
		
		#filterMenu .tipo{ padding:20px; margin-top: -49px; text-align: left; }
		#filterMenu .date{ padding: 5px 0 0 20px; color: #FFF; text-align: left; }
		.categorias{	display: block; color: #FFF; text-decoration: none; font-size: 13px; margin-top:4px; }
		#filterMenu .tipo .filtros	{color:#FFF; font-size: 13px; }
		
		#filterMenu .tipo .tittle-filtro{ font-weight: bold; color: #FFF; font-size: 15px; display: inline-block; margin-bottom: 8px; }
        
		#filterMenu .date .datepicker{ background: transparent; border: none; color: #fff; text-decoration: underline; cursor: pointer; outline: none; display:block; }
		.ui-state-active { background: #3A4B55; color: #FFF; }
		
		.ui-datepicker td a, .ui-datepicker td span{  color: #666; }
		.ui-state-active	{ color: #FFF !important; }
		
		
		/**/
		
.ui-datepicker{width:auto!important;display:none;z-index:10; font-family:arial;}.ui-datepicker .ui-datepicker-header{position:relative;background-color:#3A4B55;color:#fff;font-weight:400;border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0}.date-trigger .ui-datepicker-trigger{margin-left:6px;cursor:pointer}.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev{position:absolute;padding:9px 16px;cursor:pointer;top:0;background-repeat:no-repeat;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.ui-datepicker .ui-datepicker-next-hover,.ui-datepicker .ui-datepicker-prev-hover{background-color:#65B688}.ui-datepicker .ui-datepicker-next-hover{border-radius:0 2px 0 0;-webkit-border-radius:0 2px 0 0;-moz-border-radius:0 2px 0 0}.ui-datepicker .ui-datepicker-prev-hover{border-radius:2px 0 0;-webkit-border-radius:2px 0 0;-moz-border-radius:2px 0 0}.ui-datepicker .ui-datepicker-prev{background-image:url(/images/interface/arrow_left.png);background-position:14px 14px;left:0}.ui-datepicker .ui-datepicker-next{background-image:url(/images/interface/arrow_right.png);right:0;background-position:14px 14px}.ui-datepicker .ui-datepicker-title{margin:0 33px;padding:11px 0 12px;text-align:center;font-size:12px}.ui-datepicker table{width:100%;font-size:11px;border-collapse:collapse;background-color:#fff;border:1px solid #DDD;border-top:0}.ui-datepicker-append{margin-left:14px;font-size:11px}.no-append .ui-datepicker-append{display:none}.datepicker-liquid>.ui-datepicker{width:100%}.datepicker-fixed{width:20em}.ui-datepicker th{padding:12px 6px 10px;text-align:center;font-weight:600;border:0}.ui-datepicker td{border:0;padding:1px;text-align:center}.ui-datepicker td a,.ui-datepicker td span{display:block;padding:7px 10px;text-align:center;text-decoration:none;line-height:16px;font-weight:600}.ui-datepicker.ui-datepicker-multi{width:auto;margin-left:2px}.ui-datepicker-multi .ui-datepicker-group{float:left;margin-left:1px}.ui-datepicker-multi .ui-datepicker-group:first-child{margin-left:-2px}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3333333333%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}@media (max-width:479px){.ui-datepicker-multi-3 .ui-datepicker-group{width:auto}}
		