<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>auto</title>
		  <script src="js/jquery-3.1.0.js" type="text/javascript"></script>
		  <script src="js/jquery-ui-1.12.0.js" type="text/javascript"></script>
		  <script type="text/javascript" src="js/materialize.min.js"></script>
		  <script type="text/javascript" src="js/jquery.sidebar.js"></script>
		  <script type="text/javascript" src="js/jquery.sidebar.min.js"></script>
		  <script src="http://jillix.github.io/jQuery-sidebar/js/handlers.js"></script>
		  <link rel="stylesheet" href="css/font-awesome.min.css"></link>
		 <link rel="stylesheet" type="text/css" href="css/materialize.css"></link>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
		<script>
			$(document).ready(function () {
				
				$( 'select' ).material_select();
				$( '#draggable' ).draggable({ cursor: "move"});
				$( '.tooltipped').tooltip({delay: 50});
				$( '#sideNavIdImg' ).sidebar({side: 'right'});
				getUpDown();
				$( '#buttonModalResolucion' ).click(function(){
					textboxEditableLayout();
					$( '#modalResolution' ).openModal();
				});

				$( '#sizeSelect' ).change(function(){ textboxEditableLayout() });
				$( '#btnLayoutSize' ).click(function(){ layoutEditableSize() });	
			
				$( '#addTextLayout' ).click(function(){
					$( '#idCanvasLayout' ).append( "<div class='textLayout clickeable draggable ui-widget-content' style='position:absolute;z-index:1000'>{{titulo}}</div>" );
					$( '.draggable' ).draggable({ containment: '#idCanvasLayout', scroll: false });
					itemClickeables();
					
				});

				$( '#addImageLayout' ).click(function(){
					$( '#idCanvasLayout' ).append( "<img class='imageLaoyut clickeable draggable ui-widget-content grey-text button-collapse' data-action='toggle'  style='position:absolute; z-index:1000' src='http://www.geodyssey.com/papers/ggterrafig2.png' />" );
					$( ".draggable" ).draggable({ containmenxt: "#idCanvasLayout", scroll: false });
					itemClickeables();
				});

				$( '#idCanvasLayout' ).click(function(){
					$( "#sideNavIdImg" ).trigger( "sidebar:close" );
					$( '.clickeable' ).removeClass( 'selectedItem' );
				});
				
				
			});

			
			//FUNCTION//
			function itemClickeables(){
			
				$( '.clickeable' ).unbind( 'dblclick' );
				$( '.clickeable' ).dblclick(function(e){
					e.stopPropagation();
					if( $( this ).hasClass( 'selectedItem' )) {
						$( "#sideNavIdImg" ).trigger( "sidebar:close" );
						$( '.clickeable' ).removeClass( 'selectedItem' );
						return false;
					}
					$( '.clickeable' ).removeClass( 'selectedItem' );
					$( this ).addClass( 'selectedItem' );
					$( "#sideNavIdImg" ).trigger( "sidebar:open" );
					
					if( $( this ).hasClass( 'textLayout' )) {
						$( '#slideText' ).removeClass('slideText');
						$( '#slideImage' ).addClass('slideImage');
					}else{
						$( '#slideImage' ).removeClass( 'slideImage' );
						$( '#slideText' ).addClass( 'slideText' );
						
					}
				});
			}
			//DUDA!!!!!!!
			function getUpDown(){
			
				$( '#idButtonDown' ).click(function(){
					var z_min = 99999;
				
					$( '.clickeable' ).each(function(index){
						if( parseInt($(this).css('z-index')) < z_min){
							z_min = parseInt($(this).css('z-index'));
						}
					});
					$( '.selectedItem' ).css('z-index',z_min-1);
				});
				
				$( '#idButtonUp' ).click(function(){
					var z_max = 1000;
				
					$( '.clickeable' ).each(function(index){
						if( parseInt($(this).css('z-index')) > z_max){
							z_max = parseInt($(this).css('z-index'));
						}
					});
					$( '.selectedItem' ).css('z-index',z_max+1);
				});
			}

			function textboxEditableLayout(){
			
				if($( '#sizeSelect' ).val() == 3){
					$( '#sizeEditable' ).removeClass( 'hide' );
				}else{
					$( '#sizeEditable' ).addClass( 'hide' );
				}
			}
			
			function layoutEditableSize(){
			
				if($('#sizeSelect').val() == 1){
					$('#idCanvasLayout').addClass('canvasSize1920');
					$('#idCanvasLayout').removeClass('canvasSize1280');
				}
				if($('#sizeSelect').val() == 2){
					$('#idCanvasLayout').removeClass('canvasSize1920');
					$('#idCanvasLayout').addClass('canvasSize1280');
				}
				if($('#sizeSelect').val() == 3){
					$('#idCanvasLayout').removeClass('canvasSize1920');
					$('#idCanvasLayout').removeClass('canvasSize1280');
					var width = $('#idAnchura').val()+'px';
					var height = $('#idAltura').val()+'px';
					
					$('#idCanvasLayout').css('width',width);
					$('#idCanvasLayout').css('height',height);
				}
			}
            
            
            function update_url() {
                
                $('.selectedItem').attr('src', $('#idURL').val());
            }
		</script>
		<style>
            body {overflow: hidden;}
			#modalResolution .modal-content{height: 89% !important;}
            .contenedor {overflow: scroll;display: table-cell;vertical-align: middle;top:64px; left:0px;right:0px;bottom:0px;position: fixed; background: url('images/grid.gif'); text-align: center;}
			.canvasLayout {position: relative;margin:45px auto 0px auto; height:400px;width:800px; border:1px solid #333; box-shadow: 2px 2px 2px #CCC;}
			.canvasSize1280{width:1280px !important;height:720px !important; background-color:#fff;}
			.canvasSize1920{width:1920px !important;height:1080px !important; background-color:#fff;}
			.draggable { padding: 0.5em; float: left;  }
			.selectedItem{border: 1px dashed red;}
			.sidebar.right { top: 0; right: 0; bottom: 0; width: 270px; background: #448AFF; }
			.sidebars > .sidebar { box-shadow: 0 0 5px rgba(0, 0, 0, 0.64); position: fixed; color: white; padding: 30px; font-size: 2em; text-align: center;}
			.slideImage{display:none;}
			.slideText{display:none;}
		</style>
</head>
<body class="grey lighten-1">
	<nav>
		<div class="nav-wrapper row blue lighten-1">
			<div class="col s3"><i class="material-icons left">dashboard</i></div>
			<div class="col s6">
				<div class="col s1">
					<a id="idButtonDown" class="btn-icon transparent tooltipped" href="#" data-position="bottom" data-delay="50" data-tooltip="Llevar al Fondo">
						<i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col s1">
					<a  id="idButtonUp" class="btn-icon transparent tooltipped" href="#" data-position="bottom" data-delay="50" data-tooltip="Llevar arriba">
						<i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col s1">
					
				</div>
				<div class="col s1">
				
				</div>
			</div>
			<div class="col s1 center">
				<a id="buttonModalResolucion" class="btn-icon transparent modal-trigger tooltipped" href="#" data-position="bottom" data-delay="50" data-tooltip="Tamaño Layout">
					<i class="material-icons">aspect_ratio</i>
				</a>
			</div>
			<div class="col s2">
				<a class="btn-icon transparent right" href="#">Generar HTML <i class="material-icons right">code</i></a>
			</div>
		</div>
	</nav>
	<!--CONTENEDOR GENERAL-->
	<div class="contenedor">
		<div id="idCanvasLayout" class="white canvasLayout"></div>
		
	</div>
	<!-- BUTTON FLOAT -->
	<div id="draggable" class="fixed-action-btn  ui-widget-content" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large blue lighten-1">
			<i class="large material-icons">add</i>
		</a>
		<ul>
			<li>
				<a id="addImageLayout" class="btn-floating blue lighten-1 " >
					<i class="fa fa-picture-o "></i>
				</a>
			</li>
			<li ><a id="addTextLayout" class="btn-floating blue lighten-1" ><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></a></li>
		</ul>
	</div>
	
	<!-- Modal Structure -->
	<div id="modalResolution" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4 class="center">Resolución del Layout</h4>
			<div class="row">
				<div class="input-field col s12">
					<select id="sizeSelect">
						<option value="" selected>Elige una opción</option>
						<option value="1">1920px x 1080px</option>
						<option value="2">1280px x 720px</option>
						<option value="3">Tamaño Personalizado</option>
					</select>
					<label>Tamaño del Layout</label>
				</div>
				<div class="col s12 hide" id="sizeEditable">
					<div class="input-field col s6">
						<input id="idAltura" type="text" class="validate">
						<label for="last_name">Altura</label>
					</div>
					<div class="input-field col s6">
						<input id="idAnchura" type="text" class="validate">
						<label for="last_name">Ancho</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">Cancelar</a>
			<a id="btnLayoutSize" href="#!" class=" modal-action waves-effect modal-close waves-green btn-flat right">Aceptar</a>
		</div>
	</div>
	<div class="sidebars">
	<div class="sidebar right grey lighten-2" id="sideNavIdImg">
		<div id="slideText" class="slideText"> 
			<span class="blue-text text-darken-2">Texto</span>
			<div class="input-field col s12">
				<select id="sizeSelect">
					<option value="" selected>Elige una opción</option>
					<option value="1">asd</option>
					<option value="1">asd</option>
				</select>
				<label>Tipografia</label>
			</div>
			<div class="input-field col s6">
				<input id="colorpickerField3" type="text" class="validate">
				<label for="colorpickerField3">Elige El color</label>
			</div>
		</div>
		<div id="slideImage" class="slideImage">
			<span class="blue-text text-darken-2">Imagen</span>
			<div class="input-field col s6">
						<input id="idAlturaImagen" type="text" class="validate">
						<label for="last_name">Altura</label>
			</div>
			<div class="input-field col s6">
						<input id="idAnchoImagen" type="text" class="validate">
						<label for="last_name">Ancho</label>
			</div>
            <div class="input-field col s6">
						<input id="idURL" type="text" class="validate" onblur="update_url()">
						<label for="last_name">Imagen</label>
			</div>
			<a class="waves-effect waves-light btn red darken-4">-</a>
		</div>
	</div>
</div>
</body>
</html>