<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Datos Utiles Entel</title>
        <script src="../../js/unifier.js"></script>
        <script>

            var url = location.href.split('/');
            var ambiente = url[url.length - 2 ];
            var entidad = url[url.length - 1 ].split('.')[0];
            var metadata = null;
            var data = null;
            var html = "";            
            var turno = 0;

            function slideTurnoInterval() {

                $('.slides .slide:visible').hide();

                if ($('.slides .slide.slide-' + turno).size() == 0) {

                    turno = 0;
                    $('.slides .slide.slide-0').show();

                    var a = setInterval(function () {
                        clearInterval(a);
                        slideTurnoInterval();
                    }, parseInt(1000 * $('.slides .slide.slide-' + turno).find('.segundos').text()));

                } else {

                    $('.slides .slide.slide-' + turno).show();

                    var a = setInterval(function () {

                        clearInterval(a);
                        slideTurnoInterval();
                    }, parseInt(1000 * $('.slides .slide.slide-' + turno).find('.segundos').text()));

                    turno++;
                }

            }

            function intervaloInclusivo(candidato, inicio, termino) {

                var fgInicio = false;
                var fgTermino = false;

                var _candidato = candidato.replace(/-/g, "/");
                var _inicio = inicio.replace(/-/g, "/");
                var _termino = termino.replace(/-/g, "/");

                if ((new Date(_candidato)).getTime() >= (new Date(_inicio)).getTime()) {
                    fgInicio = true;
                }
                if ((new Date(_candidato)).getTime() <= (new Date(_termino)).getTime()) {
                    fgTermino = true;
                }
                if (fgInicio && fgTermino) {
                    return true;
                } else {
                    return false;
                }
            }


            $(document).ready(function () {

                $.getJSON("../../json/" + ambiente + "/"+ entidad +"-data.json", function (result) {

                    data = _.sortBy(result, function (num) {
                        return Math.min(parseInt(num.orden));
                    })

                    var cont = 0;

                    $.each(data, function (index, obj) { 
                        obj.index = cont;                       
                        html += Mustache.render(String($("#template").html()), obj);
                        cont++;                   
                    });

                    if (html) {
                        $(".slides").html(html);
                        $(".slides").show();
                        slideTurnoInterval();
                    } else {
                        $("body").addClass('logo-bg');
                    }

                });
            });
        </script>
        <style>
         
               
            
            @font-face {font-family: DINNextLTPro_Regular;src: url("../../font/DINNextLTPro/DINNextLTPro-Regular.otf");}	
            
            html							{ height:100%; }
            body							{ soverflow: hidden; height: 100%; margin: 0px; position: relative; overflow:hidden }
            .logo-bg { background: url("../../images/logo_enjoy.jpg")  center center no-repeat; background-size: cover;}
            
            #template 						{ display: none; }
            
            .templates 						{ display: none; }
            .slides 						{ display: none; }

            .slide   						{ width:1280px; height: 720px; display: none;}	
        </style>
        </head>

    <body>

        <div class="slides"></div>

        <div class="templates">

            <div id="template">
                
                <div class="slide slide-{{index}}">
                   {HTML}
                </div>
            </div>

        </div>
    </body>
</html>